/*
 * Fonts
 */
/*
 * Colors
 */
/*
 * grid
 */
html, body, h1, h2, h3, h4, h5, h6, hr, li, ul, p, a, img, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 200;
  list-style: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

button {
  outline: none;
  cursor: pointer;
  background-color: transparent; }

#app {
  background-color: #F9F8F5; }

.card {
  padding: 20px;
  box-shadow: 0 0 0.5px 0 #b3b3b3; }
  .card > h1 {
    border-left: solid 7px #50AAD6;
    margin-bottom: 30px;
    padding-left: 20px;
    color: #646464;
    font-size: 18px;
    font-weight: 400; }

button {
  cursor: #50AAD6;
  font-size: 14px;
  cursor: hand; }

.el-button {
  font-weight: 200; }

.el-table {
  border: none; }
  .el-table:after {
    display: none; }
  .el-table:before {
    border-color: #EEEEEE; }
  .el-table th.is-leaf {
    border: none; }
  .el-table td {
    border-color: #EEEEEE; }
    .el-table td > .cell {
      color: #808080;
      font-weight: 300; }
  .el-table th {
    background-color: #F9F9F9; }
    .el-table th > .cell {
      color: #646464;
      background-color: #F9F9F9;
      font-weight: 400; }
  .el-table.el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: #f0f8fc; }

.el-pagination .btn-prev, .el-pagination .btn-next {
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 3px;
  border: solid 1px #EEEEEE;
  padding: 0 10px;
  color: #b3b3b3; }
.el-pagination .btn-prev {
  margin-right: 10px; }
.el-pagination .el-pagination__editor {
  border-radius: 3px;
  border: solid 1px #EEEEEE;
  color: #b3b3b3;
  font-weight: 300; }

.el-pager li, .el-pager li.active + li, .el-pager li:last-child {
  width: 36px;
  height: 36px;
  line-height: 36px;
  padding: 0;
  border: solid 1px #EEEEEE;
  border-radius: 3px;
  margin-right: 10px;
  color: #b3b3b3; }
.el-pager li.active {
  color: #ffffff;
  background: #50AAD6;
  border: none; }

.el-message {
  border-radius: 3px; }

.el-message-box .el-button {
  height: 30px;
  line-height: 30px;
  padding: 0 20px; }

.el-message-box__title {
  color: #646464; }

.el-message-box__message {
  color: #808080; }

.el-form-item__label {
  padding-bottom: 5px;
  color: #B3B3B3; }

.el-input, .el-input__inner, .el-textarea__inner {
  color: #646464;
  font-weight: 300;
  border-radius: 3px;
  border-color: #DDDDDD;
  background-color: #F9F9F9; }
  .el-input:hover, .el-input:focus, .el-input__inner:hover, .el-input__inner:focus, .el-textarea__inner:hover, .el-textarea__inner:focus {
    border-color: #50AAD6; }
  .el-input input, .el-input__inner input, .el-textarea__inner input {
    background-color: #F9F9F9;
    font-weight: 300; }

.el-input.is-disabled .el-input__inner {
  border-color: #DDDDDD;
  background-color: #EEEEEE; }

.el-form-item.is-error .el-input__inner, .el-form-item.is-error .el-textarea__inner {
  border-color: #E25D58; }

.el-form-item__error {
  color: #E25D58; }

.el-radio__inner {
  border-color: #DDDDDD; }

.el-radio__label {
  color: #646464;
  font-weight: 300; }

.el-checkbox__inner {
  border-color: #DDDDDD; }

.el-checkbox__label {
  color: #646464;
  font-weight: 300; }

/*# sourceMappingURL=index.css.map */
