@import "../../assets/scss/variables";

.nav-bar {
  background-color: $white-color;
}

// el-menu
.nav-bar {
  /deep/ {
    .el-submenu .el-menu {
      background-color: transparent;
    }

    .el-submenu__title:hover, .el-menu-item.is-active, .el-menu-item:hover, .el-submenu .el-menu-item:hover {
      background-color: lighten($blue-color-light, 16%);
    }

    .el-menu-item.is-active {
      border-right: solid 4px $blue-color-dark;
    }

    .el-submenu__title {
      .img-wrapper {
        display: inline-block;
        width: 40px;
        img {
          display: block;
          margin: 0 auto;
        }
      }
    }

    .el-menu-item {
      padding-left: 80px !important;
    }
  }
}
